@import 'assets/styles/item.scss';

$height: 468px;

.mat-mdc-card {
  min-height: $height;
  margin-bottom: 5px;
}

.mat-mdc-card-image {
  height: $height;
}

.ability {
  height: inherit !important;
}
